---
import Layout from '$lib/layouts/Layout.astro';
import { getCollection } from 'astro:content';
const blogEntries = await getCollection('blogPosts');
import Header from '$lib/components/header.svelte';
import AllPosts from '$lib/components/blog/allPosts.svelte';
const currentPath = Astro.url.pathname;
---
<Layout title="Technical Blog">
    <div class="h-full w-full bg-white dark:bg-black justify-center items-center">
        <Header client:only="svelte" pathname={currentPath} />
        <div class="flex flex-col justify-center items-center h-full w-full mt-[5vh]">
          <h1 class="lg:text-6xl text-black dark:text-white">Blog</h1>
            <AllPosts posts={blogEntries}></AllPosts>
        </div>
    </div>
</Layout>
