---
import Landing from '$lib/components/landing/landing.svelte'
import Layout from '$lib/layouts/Layout.astro'
import Header from '$lib/components/header.svelte'
import {getCollection} from 'astro:content';
const blogEntries = await getCollection('blogPosts');
const currentPath = Astro.url.pathname;
---
<Layout title="Hello, I'm Nathan">
    <div id="landing" class="h-full w-full bg-white dark:bg-black">
        <Header client:only="svelte" pathname={currentPath} />
        <Landing client:only="svelte" articles={blogEntries.map((e) => {
            return {
                title: e.data.title,
                description: e.data.description,
                tags: e.data.tags,
                series: e.data.series,
                published: e.data.published,
                slug: e.data.slug
            }
        }).sort((a, b) => new Date(a.published) - new Date(b.published))}/>
    </div>

</Layout>
