@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
    svg#dayNightSun .svg-elem-1 {
        stroke-dashoffset: 39.704383850097656px;
        stroke-dasharray: 39.704383850097656px;
        -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
        transition: stroke-dashoffset 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0s
    }

    svg#dayNightSun.active .svg-elem-1 {
        stroke-dashoffset: 0
    }

    svg#dayNightSun .svg-elem-2 {
        stroke-dashoffset: 3px;
        stroke-dasharray: 3px;
        -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
        transition: stroke-dashoffset 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s
    }

    svg#dayNightSun.active .svg-elem-2 {
        stroke-dashoffset: 0
    }

    svg#dayNightSun .svg-elem-3 {
        stroke-dashoffset: 3px;
        stroke-dasharray: 3px;
        -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.24s;
        transition: stroke-dashoffset 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.24s
    }

    svg#dayNightSun.active .svg-elem-3 {
        stroke-dashoffset: 0
    }

    svg#dayNightSun .svg-elem-4 {
        stroke-dashoffset: 3px;
        stroke-dasharray: 3px;
        -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.36s;
        transition: stroke-dashoffset 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.36s
    }

    svg#dayNightSun.active .svg-elem-4 {
        stroke-dashoffset: 0
    }

    svg#dayNightSun .svg-elem-5 {
        stroke-dashoffset: 3.414213538169861px;
        stroke-dasharray: 3.414213538169861px;
        -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.48s;
        transition: stroke-dashoffset 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.48s
    }

    svg#dayNightSun.active .svg-elem-5 {
        stroke-dashoffset: 0
    }

    svg#dayNightSun .svg-elem-6 {
        stroke-dashoffset: 3.414213538169861px;
        stroke-dasharray: 3.414213538169861px;
        -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.6s;
        transition: stroke-dashoffset 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.6s
    }

    svg#dayNightSun.active .svg-elem-6 {
        stroke-dashoffset: 0
    }

    svg#dayNightSun .svg-elem-7 {
        stroke-dashoffset: 3.414213538169861px;
        stroke-dasharray: 3.414213538169861px;
        -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.72s;
        transition: stroke-dashoffset 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.72s
    }

    svg#dayNightSun.active .svg-elem-7 {
        stroke-dashoffset: 0
    }

    svg#dayNightSun .svg-elem-8 {
        stroke-dashoffset: 3.414213538169861px;
        stroke-dasharray: 3.414213538169861px;
        -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.84s;
        transition: stroke-dashoffset 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.84s
    }

    svg#dayNightSun.active .svg-elem-8 {
        stroke-dashoffset: 0
    }

    svg#dayNightSun .svg-elem-9 {
        stroke-dashoffset: 3px;
        stroke-dasharray: 3px;
        -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.96s;
        transition: stroke-dashoffset 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.96s
    }

    svg#dayNightSun.active .svg-elem-9 {
        stroke-dashoffset: 0
    }

    svg#dayNightMoon .svg-elem-10 {
        stroke-dashoffset: 58.66685485839844px;
        stroke-dasharray: 58.66685485839844px;
        -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
        transition: stroke-dashoffset 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0s
    }

    svg#dayNightMoon.active .svg-elem-10 {
        stroke-dashoffset: 0
    }
}